<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/scema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <!-- this is our beans first program -->
 
 
 <bean class="com.springcore.student" name="student1">
 <property name="studentid">
 <value>2233</value>
 </property>
 <property name="studentName">
 <value>lakshmi</value>
 </property>
 <property name="studentAddress">
 <value>nellore</value>
 </property>
 </bean>
 </beans>